<ion-header>
  <ion-toolbar>
    <ion-title>
      Photographer Albums List
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background: #d3d3d3">
  <ion-card *ngFor="let albumInfo of albumsInfo">
    <ion-card-header>
      {{albumInfo.album.name}}
    </ion-card-header>
    <ion-list>
      <button (click)="onClickAlbumEdit(albumInfo)" color="dark" ion-item>
        <ion-icon name="cut" item-start></ion-icon>
        Edit
      </button>
      <button color="danger" ion-item (click)="onClickDeleteAlbum(albumInfo.album)">
        <ion-icon name="trash" item-start></ion-icon>
        Delete
      </button>
    </ion-list>
  </ion-card>

</ion-content>
