<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit Album
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="album.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" [(ngModel)]="album.description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="selectedCategoryId">
        <ion-option *ngFor="let category of categories" value="{{category._id}}">{{category.title}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Privacy</ion-label>
      <ion-select [(ngModel)]="album.isPrivate">
        <ion-option value="false">Public</ion-option>
        <ion-option value="true">Private</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block (click)="onClickUpdateAlbum()">Update</button>
  </div>

  <ion-list>
    <ion-item *ngFor="let photo of photos">
      <ion-thumbnail item-start>
        <img src="{{baseUrl + photo.watermarkedPath}}">
      </ion-thumbnail>
      <h2>{{photo.displayName}}</h2>
      <button (click)="onClickViewPhoto(photo)" color="default" ion-button clear>View/Edit</button>
      <button (click)="onClickDeletePhoto(photo)" color="danger" ion-button clear item-end>Delete</button>
    </ion-item>
  </ion-list>

</ion-content>
