<ion-header>
  <ion-toolbar>
    <ion-title>
      Log In
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label floating >Email</ion-label>
      <ion-input type="text" [(ngModel)]="userEmail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="userPassword"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block (click)="onClickLogin()">Sign In</button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div></div>
      </ion-col>
      <ion-col>
        <div></div>
      </ion-col>
      <ion-col>
        <button ion-button color="secondary" block (click)="onClickSignup()">Sign Up</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
