<!--
  Generated template for the PhotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>photo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background: #d3d3d3">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-card *ngFor="let photo of photos" (click)="photoActionSheet(photo)">
    <img src="{{baseUrl + photo.watermarkedPath}}"/>
    <ion-card-content>
      <ion-card-title>
        {{photo.displayName}}
      </ion-card-title>
      <p>
        {{photo.displayName}} Description:
        {{photo.name}}
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="eye"></ion-icon>
          <div>{{photo.views}} Views</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{photo.likes}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="arrow-up"></ion-icon>
          <div>{{photo.upVote}} Upvotes</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
