<ion-header>
  <ion-toolbar>
    <ion-title>
      Album Owner
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/flower.jpg">
      </ion-avatar>
      <h2>Marty McFly</h2>
      <p>+8801XXX-XXXXXX</p>
    </ion-item>

    <ion-card-content>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="callPhotographer()">
          <ion-icon name="call"></ion-icon>
          <div>Call</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="messagePhotographer()">
          <ion-icon name="text"></ion-icon>
          <div>Message</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
