
<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Photo" tabIcon="images"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Album" tabIcon="albums"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Setting" tabIcon="settings"></ion-tab>
</ion-tabs>
