<ion-header>
  <ion-toolbar>
    <ion-title>
      Photo Name
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <img src="assets/imgs/photo01.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Nine Inch Nails Live
      </ion-card-title>
      <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="eye"></ion-icon>
          <div>1102 Views</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="arrow-up"></ion-icon>
          <div>4 Upvotes</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>


  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>

  <ion-list>

    <ion-item>
      <ion-label fixed>Name</ion-label>
      <ion-input type="text" value="Photo Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Album</ion-label>
      <ion-select [(ngModel)]="album">
        <ion-option value="album01id">Album O1</ion-option>
        <ion-option value="album02id">Album 02</ion-option>
        <ion-option value="album03id">Album 03</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block>Update</button>
  </div>
  <div padding>
    <button ion-button color="danger" block>Delete</button>
  </div>

</ion-content>
