<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding style="background: #d3d3d3">
  <ion-card *ngFor="let albumInfo of albumInfos">
    <ion-card-header>
      {{albumInfo.album.name}}
    </ion-card-header>
    <ion-card-content>
      {{albumInfo.album.name}} Description <br>
      {{albumInfo.album.description}}
    </ion-card-content>
    <ion-list>
      <button ion-item (click)="onClickViewAlbum(albumInfo)">
        <ion-icon name="eye" item-start></ion-icon>
        View Album
      </button>
    </ion-list>
  </ion-card>
</ion-content>

