<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>category</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page" style="background: #d3d3d3">

    <ion-card (click)="onClickCard()">
      <img src="assets/imgs/mountain.jpg"/>
      <div class="card-title">Mountain</div>
      <div class="card-subtitle">41 Albums</div>
    </ion-card>

    <ion-card>
      <img src="assets/imgs/sea.jpg"/>
      <div class="card-title">Sea</div>
      <div class="card-subtitle">64 Albums</div>
    </ion-card>

    <ion-card>
      <img src="assets/imgs/nature.jpg"/>
      <div class="card-title">Nature</div>
      <div class="card-subtitle">72 Albums</div>
    </ion-card>

    <ion-card>
      <img src="assets/imgs/flower.jpg"/>
      <div class="card-title">Flower</div>
      <div class="card-subtitle">28 Albums</div>
    </ion-card>

</ion-content>
