<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
      {{this.photographer.name}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="this.photographer.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Country</ion-label>
      <ion-input type="text" [(ngModel)]="this.photographer.country"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>City</ion-label>
      <ion-input type="text" [(ngModel)]="this.photographer.city"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Phone</ion-label>
      <ion-input type="text" [(ngModel)]="this.photographer.contactNumber"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block (click)="onClickUpdateProfile()">Update</button>
  </div>


</ion-content>
