<ion-header>
  <ion-toolbar>
    <ion-title>
      Wish List
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let photo of photos">
      <ion-thumbnail item-start>
        <img src="{{baseUrl + photo.watermarkedPath }}">
      </ion-thumbnail>
      <h2>{{photo.name}}</h2>
      <button (click)="onClickViewPhoto(photo)" ion-button clear>View</button>
      <button (click)="onClickBuyPhoto(photo)" color="default" ion-button clear>Buy</button>
      <button (click)="onClickRemovePhoto(photo)" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>
  </ion-list>
</ion-content>
