<ion-header>
  <ion-toolbar>
    <ion-title>
      Photo Name
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card (click)="photoActionSheet(photo)">
    <img src="{{baseUrl + photo.watermarkedPath}}"/>
    <ion-card-content>
      <ion-card-title>
        {{photo.displayName}}
      </ion-card-title>
      <p>
        {{photo.name}}
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="eye"></ion-icon>
          <div>{{photo.views}} Views</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{photo.likes}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="arrow-up"></ion-icon>
          <div>{{photo.upVote}} Upvotes</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
