<ion-header>
  <ion-toolbar>
    <ion-title>
      Photographer Profile
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/photo09.jpg">
      </ion-avatar>
      <h2>{{this.photographer.name}}</h2>
      <p>{{this.photographer.contactNumber}}</p>
    </ion-item>

    <ion-item>
      Albums
      <ion-note item-end>
        {{this.albumsLength}}
      </ion-note>
    </ion-item>

    <ion-item>
      Photos
      <ion-note item-end>
        {{this.photosLength}}
      </ion-note>
    </ion-item>

    <ion-item>
      Credit
      <ion-note item-end>
        ${{this.photographer.netBalance}}
      </ion-note>
    </ion-item>

    <ion-item>
      Wish Lists
      <ion-note item-end>
        {{this.wishListsLength}}
      </ion-note>
    </ion-item>

    <ion-item>
      Buy Lists
      <ion-note item-end>
        {{this.buyListsLength}}
      </ion-note>
    </ion-item>

    <ion-item>
      Address
      <ion-note item-end>
        {{this.photographer.city}}, {{this.photographer.country}}
      </ion-note>
    </ion-item>

    <ion-item>
      Email
      <ion-note item-end>
        {{this.user.email}}
      </ion-note>
    </ion-item>

    <ion-item>
      Is Premium
      <ion-note item-end>
        {{this.photographer.isPremium}}
      </ion-note>
    </ion-item>

  </ion-list>
</ion-content>
