<ion-header>
  <ion-toolbar>
    <ion-title>
      Select Album
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item *ngIf="this.albums">
    <ion-label>Album</ion-label>
    <ion-select [(ngModel)]="selectedAlbumId">
      <ion-option *ngFor="let album of albums" value="{{album._id}}">{{album.name}}</ion-option>
    </ion-select>
  </ion-item>

  <button ion-button (click)="onClickSelectAlbum()">Go</button>

</ion-content>
