<ion-header>
  <ion-toolbar>
    <ion-title>
      Category Name
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding style="background: #d3d3d3">
  <ion-card>
    <ion-card-header>
      Album Name 01
    </ion-card-header>
    <ion-card-content>
      Album Description 01
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores doloribus, ducimus incidunt iure molestiae molestias quis ratione recusandae reiciendis saepe sunt tempora unde, voluptatem voluptatibus? Provident quisquam tenetur voluptate!
    </ion-card-content>
    <ion-list>
      <button ion-item (click)="onClickViewAlbum()">
        <ion-icon name="eye" item-start></ion-icon>
        View Album
      </button>
      <button ion-item (click)="onClickViewAlbumOwner()">
        <ion-icon name="person" item-start></ion-icon>
        View Album Owner 01
      </button>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Album Name 02
    </ion-card-header>
    <ion-card-content>
      Album Description 02
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores doloribus, ducimus incidunt iure molestiae molestias quis ratione recusandae reiciendis saepe sunt tempora unde, voluptatem voluptatibus? Provident quisquam tenetur voluptate!
    </ion-card-content>
    <ion-list>
      <button ion-item>
        <ion-icon name="eye" item-start></ion-icon>
        View Album
      </button>
      <button ion-item>
        <ion-icon name="person" item-start></ion-icon>
        View Album Owner 02
      </button>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Album Name 03
    </ion-card-header>
    <ion-card-content>
      Album Description 03
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores doloribus, ducimus incidunt iure molestiae molestias quis ratione recusandae reiciendis saepe sunt tempora unde, voluptatem voluptatibus? Provident quisquam tenetur voluptate!
    </ion-card-content>
    <ion-list>
      <button ion-item>
        <ion-icon name="eye" item-start></ion-icon>
        View Album
      </button>
      <button ion-item>
        <ion-icon name="person" item-start></ion-icon>
        View Album Owner 03
      </button>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Album Name 04
    </ion-card-header>
    <ion-card-content>
      Album Description 04
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores doloribus, ducimus incidunt iure molestiae molestias quis ratione recusandae reiciendis saepe sunt tempora unde, voluptatem voluptatibus? Provident quisquam tenetur voluptate!
    </ion-card-content>
    <ion-list>
      <button ion-item>
        <ion-icon name="eye" item-start></ion-icon>
        View Album
      </button>
      <button ion-item>
        <ion-icon name="person" item-start></ion-icon>
        View Album Owner 04
      </button>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Album Name 05
    </ion-card-header>
    <ion-card-content>
      Album Description 05
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores doloribus, ducimus incidunt iure molestiae molestias quis ratione recusandae reiciendis saepe sunt tempora unde, voluptatem voluptatibus? Provident quisquam tenetur voluptate!
    </ion-card-content>
    <ion-list>
      <button ion-item>
        <ion-icon name="eye" item-start></ion-icon>
        View Album
      </button>
      <button ion-item>
        <ion-icon name="person" item-start></ion-icon>
        View Album Owner 05
      </button>
    </ion-list>
  </ion-card>

</ion-content>

