<!--
  Generated template for the AlbumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Album</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background: #d3d3d3">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-card *ngFor="let albumInfo of albumsInfo">
    <ion-card-header>
      {{albumInfo.album.name}}
    </ion-card-header>
    <ion-card-content>
      {{this.albumInfo.album.name}} Description
      {{this.albumInfo.album.description}}
    </ion-card-content>
    <ion-list>
      <button ion-item (click)="onClickViewAlbum(albumInfo)">
        <ion-icon name="eye" item-start></ion-icon>
        View Album
      </button>
      <button ion-item (click)="onClickViewAlbumOwner(albumInfo.owner)">
        <ion-icon name="person" item-start></ion-icon>
        By {{albumInfo.owner.name}}
      </button>
    </ion-list>
  </ion-card>
</ion-content>
