<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: #d3d3d3">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-card *ngFor="let photographer of photographers">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/profile.png">
      </ion-avatar>
      <h2>{{photographer.name}}</h2>
      <p>{{photographer.contactNumber}}</p>
    </ion-item>

    <ion-card-content>
      <p *ngIf="photographer.description != undefined">{{photographer.description}}</p>
      <p *ngIf="photographer.description == undefined">Hi there, I am {{photographer.name}}. To ckeack my albums click the link below. If you want to hire me, call me text me. Thank you.</p>
    </ion-card-content>

    <ion-list>
      <button ion-item (click)="onClickViewPublicAlbums(photographer)">
        <ion-icon name="eye" item-start></ion-icon>
        View Albums
      </button>
      <button ion-item (click)="onClickViewPublicProfile(photographer)">
        <ion-icon name="person" item-start></ion-icon>
        View Profile
      </button>
    </ion-list>

    <ion-row>
      <ion-col *ngIf="photographer.contactNumber">
        <button ion-button icon-left clear small (click)="callPhotographer()">
          <ion-icon name="call"></ion-icon>
          <div>Call</div>
        </button>
      </ion-col>
      <ion-col *ngIf="photographer.contactNumber">
        <button ion-button icon-left clear small (click)="messagePhotographer()">
          <ion-icon name="text"></ion-icon>
          <div>Message</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
