<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Photos
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  div class="container-fluid">
  <div class="row header-section">
    <span>Angular 4/5 Nodejs File Upload Download Sample</span>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row card">
        <div class="col-sm-12">
          <h4>Upload Section</h4>
          <div id="fileSelector">
            <input type="file" name="fileUplaod" id="fileUpload"
                   multiple ng2FileSelect [uploader]="uploader">
          </div>
          <div>
            <div class="row uploadList" *ngFor="let item of uploader.queue">
              <div class="col-sm-4">{{item.file.name}}</div>
              <div class="col-sm-4">
                <div class="progress">
                  <div class="progress-bar bg-success"
                       [ngStyle]="{'width':item.progress+'%'}"></div>
                </div>
              </div>
              <div class="col-sm-4">
                <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
                <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="uploader?.queue?.length > 0">
            <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Upload All</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

</ion-content>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

