<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list style="background: #d3d3d3">
    <a ion-item (click)="openViewProfile()">
      View Profile
    </a>
    <a ion-item (click)="openEditProfile()">
      Edit Profile
    </a>
  </ion-list>

  <hr showWhen="android,windows">
  <hr showWhen="android,windows">
  <hr showWhen="android,windows">

  <ion-list style="background: #d3d3d3">
    <a ion-item (click)="openAlbumListModal()">
      Album List
    </a>
    <a ion-item (click)="openAddAlbumModal()">
      Add Album     X
    </a>
  </ion-list>

  <hr showWhen="android,windows">
  <hr showWhen="android,windows">
  <hr showWhen="android,windows">

  <ion-list style="background: #d3d3d3">
    <a ion-item (click)="openAddCategoryModal()">
      Add Category
    </a>
  </ion-list>

  <hr showWhen="android,windows">
  <hr showWhen="android,windows">
  <hr showWhen="android,windows">

  <ion-list style="background: #d3d3d3">
    <a ion-item (click)="openPhotoListModal()">
      Photos
    </a>
    <a ion-item (click)="openAddPhotoModal()">
      Add Photos     X
    </a>
  </ion-list>

  <hr showWhen="android,windows">
  <hr showWhen="android,windows">
  <hr showWhen="android,windows">

  <ion-list style="background: #d3d3d3">
    <a ion-item (click)="openWishListModal()">
      Wish Lists
    </a>
    <a ion-item (click)="openBuyListModal()">
      Buy Lists
    </a>
  </ion-list>

  <hr showWhen="android,windows">
  <hr showWhen="android,windows">
  <hr showWhen="android,windows">

  <ion-list style="background: #d3d3d3">
    <a ion-item (click)="openAllMessageModal()">
      All Message
    </a>
    <a ion-item (click)="openUnseenMessageModal()">
      Unseen Message
    </a>
  </ion-list>

  <hr showWhen="android,windows">
  <hr showWhen="android,windows">
  <hr showWhen="android,windows">

  <ion-list style="background: #d3d3d3">
    <button ion-item>
      Become Premium Member     X
    </button>
  </ion-list>

  <ion-list style="background: #d3d3d3">
    <button color="danger" ion-item (click)="logout()">
      Logout
    </button>
  </ion-list>
</ion-content>


