<ion-slides pager>

  <ion-slide style="background-color: #41c6f1">
    <i class="fa fa-camera" style="font-size:120px; color:#ebebeb" aria-hidden="true"></i>
    <h1 style="color: #ebebeb">Photographers On Demand</h1>
    <p style="font-family:open-sans; font-size:14px; color:#ebebeb">Find Photographers in your <b>own</b> city, <i>anytime</i>, for any occasion.!</p>
  </ion-slide>

  <ion-slide style="background-color: #f06261">
    <i class="fa fa-image" style="font-size:120px; color:#ebebeb" aria-hidden="true"></i>
    <h1 style="color: #ebebeb">Make your own gallery</h1>
    <p style="font-family:open-sans; font-size:14px; color: #ebebeb">Create your own gallery <b>public</b> or <b>privtae</b> by uploading photos of your own <b>Album</b>.</p>
  </ion-slide>

  <ion-slide style="background-color: #60c4bb">
    <i class="fa fa-balance-scale" style="font-size:120px; color:#ebebeb" aria-hidden="true"></i>
    <h1 style="color: #ebebeb">Rate and upvote photo.</h1>
    <p style="font-family:open-sans; font-size:14px; color: #ebebeb">You can <b>Upvote</b>, <b>Like</b>, <b>Dislike</b> and <b>Report</b>  other photos.</p>
  </ion-slide>

  <ion-slide style="background-color: #c79081">
    <img src="assets/imgs/logo-photopher.png" alt="">
    <h1 style="color:#ebebeb">Welcome to PhotoPher</h1>
    <h4 style="color:#ebebeb">Your Photographing Business Partner.</h4>
    <p class="padding" style="font-family:open-sans; font-size:14px; color:#ebebeb">
      Now that you've seen what its all<br>
      about, how about we get started?
    </p>

    <div style="position:absolute; bottom: 120px; text-align:center; z-index:1000; width:100%">
      <button ion-button color="myWhite" round outline (click)='onClickLogin()'>Let's Go!</button>
    </div>
  </ion-slide>

</ion-slides>
