<ion-header>
  <ion-toolbar>
    <ion-title>
      Unseen Messages
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="cards-bg">

  <ion-card color="light" (click)="showPrompt()">
    <ion-card-header>
      From: Name
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facere libero ullam. At atque consequatur dolor facilis iste iusto velit voluptatem. Cupiditate debitis est itaque modi officia quia quidem vitae!
    </ion-card-content>
  </ion-card>

  <ion-card color="light" (click)="showPrompt()">
    <ion-card-header>
      From: Name
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facere libero ullam. At atque consequatur dolor facilis iste iusto velit voluptatem. Cupiditate debitis est itaque modi officia quia quidem vitae!
    </ion-card-content>
  </ion-card>

  <ion-card color="light" (click)="showPrompt()">
    <ion-card-header>
      From: Name
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facere libero ullam. At atque consequatur dolor facilis iste iusto velit voluptatem. Cupiditate debitis est itaque modi officia quia quidem vitae!
    </ion-card-content>
  </ion-card>

</ion-content>
