<ion-header>
  <ion-toolbar>
    <ion-title>
      Buy List
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo09.jpg">
      </ion-thumbnail>
      <h2>Photo Name</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo01.jpg">
      </ion-thumbnail>
      <h2>Photo Name 01</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo02.jpg">
      </ion-thumbnail>
      <h2>Photo Name 02</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo08.jpg">
      </ion-thumbnail>
      <h2>Photo Name 03</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo07.jpg">
      </ion-thumbnail>
      <h2>Photo Name 04</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo06.jpg">
      </ion-thumbnail>
      <h2>Photo Name 05</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo05.jpg">
      </ion-thumbnail>
      <h2>Photo Name 06</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo09.jpg">
      </ion-thumbnail>
      <h2>Photo Name</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo01.jpg">
      </ion-thumbnail>
      <h2>Photo Name 01</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo02.jpg">
      </ion-thumbnail>
      <h2>Photo Name 02</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo08.jpg">
      </ion-thumbnail>
      <h2>Photo Name 03</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo07.jpg">
      </ion-thumbnail>
      <h2>Photo Name 04</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo06.jpg">
      </ion-thumbnail>
      <h2>Photo Name 05</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/photo05.jpg">
      </ion-thumbnail>
      <h2>Photo Name 06</h2>
      <button (click)="onClickViewPhoto()" ion-button clear>View</button>
      <button (click)="onClickRemovePhoto()" color="danger" ion-button clear item-end>Remove</button>
    </ion-item>
  </ion-list>
</ion-content>
